<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/success.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/courses">Courses</a></li>
                <li class="main-header__item"><a href="/hire">Hire with Us</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
                <li class="main-header__item"><a href="/products">Products</a></li>
                <li class="main-header__item"><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main class="centered">
        <h1>Form Submitted Successfully!</h1>
        <p>Your details have been submitted successfully. We will contact you soon.</p>
    </main>
</body>
</html>


